/* * {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

} */


html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#html {
    color: azure;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 450px;
    left: 200px;
}

#css {

    color: azure;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 450px;
    left: 350px;
}

#javascript {

    color: azure;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 450px;
    left: 500px;

}

#nodejs {

    color: azure;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 450px;
    left: 750px;
}

#mysql {

    color: azure;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 450px;
    left: 900px;

}


#kallie {
    float: right;
    padding: 20px;
    position: absolute;
    bottom: -350px;
    left: 75px;
    clear: both;
    width: 190px
}

#ccmstudios {
    float: right;
    padding: 20px;
    position: absolute;
    bottom: -350px;
    left: 50px;
    clear: both;
    width: 190px
}

#gamer {
    float: right;
    padding: 20px;
    position: absolute;
    bottom: -550px;
    left: 50px;
    clear: both;
    width: 190px
}

#product {
    float: right;
    padding: 20px;
    position: absolute;
    bottom: -550px;
    left: 75px;
    clear: both;
    width: 190px
}

#music {
    float: right;
    padding: 20px;
    position: absolute;
    bottom: -350px;
    clear: both;
    width: 190px;
}

#author {

    padding: 20px;
    position: absolute;
    bottom: -550px;
    clear: both;
    width: 190px
}


h1 {
    color: ivory;
    letter-spacing: 1em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px black;
    position: absolute;
    left: 100px;
    perspective: 400px;
    transform: rotateY(90deg);
}

h3 {
    color: azure;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 1em;
    position: relative;
    bottom: -75px;

}

.resume {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -50px;
    bottom: -600px;
}

#particles-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ccmstudio.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:768px) {

    html,
    body {
        width: 100%;
        padding: 10px;
    }

    #html {
        display: none;
    }

    #css {

        display: none;
    }

    #javascript {

        display: none;

    }

    #nodejs {

        display: none;
    }

    #mysql {

        display: none;

    }


    #kallie {
        /* float: left;
        padding: 20px;
        position:absolute;
        bottom: -350px;
        left: 75px;
        width: 100%;
        clear: both;
     */
        width: 80%;
        left: 0px;
        margin: 20px;
    }

    #ccmstudios {
        /* float: right;
        padding: 20px;
        position:absolute;
        bottom: -350px;
        left: 50px;
        clear: both; */
        width: 80%;
        left: 0px;
        margin: 20px;

    }

    #gamer {
        /* float: right;
        padding: 20px;
        position:absolute;
        bottom: -550px;
        left: 50px;
        clear: both; */
        left: 0px;
        width: 80%;
        margin: 20px;
    }

    #product {
        /* float: right;
        padding: 20px;
        position:absolute;
        bottom: -550px;
        left: 75px;
        clear: both; */
        width: 80%;
        left: 0px;
        margin: 20px;
    }

    #music {
        /* float: right;
        padding: 20px;
        position:absolute;
        bottom: -350px;
        clear: both; */
        width: 80%;
        margin: 20px;
    }

    #author {

        /* padding: 20px;
        /* position:absolute; */
        /* bottom: -550px; */
        width: 80%;
        margin: 20px;
        clear: both;
    }


    h1 {
        color: ivory;
        letter-spacing: 1em;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 2px 2px black;
        position: absolute;
        left: 100px;
        perspective: 400px;
        transform: rotateY(90deg);
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }

    h3 {
        color: azure;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 2px 2px black;
        letter-spacing: 1em;
        position: relative;
        bottom: -125px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        font-size: 16px;
    }

    .resume {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -50px;
        bottom: -600px;
    }

    #particles-js {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ccmstudio.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .col {
        width: 10px;
    }
}